* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background: #111;
  color: #fff;
}
.showcase video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgb(131, 143, 133);
  mix-blend-mode: overlay;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 0;
  z-index: 10;
  align-items: center;
}
